# Virtual environment
venv/
.venv/
env/
bin/
lib/
include/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Data and Documentation
data/
wiki/


# Notebooks
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log


